/* slackボタン */
.slack-button {
    position: fixed; /* 固定配置 */
    left: 15%; /* 左からの距離 */
    bottom: 30px; /* 下からの距離 */
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slack-button:hover {
    background-color: gray;
}
